@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700';

body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size:16px;
  color:#555;
}

img{
  border-radius: 4px;
}

.header{
  border-top:4px solid #119E5D;
}

.header h1{
  font-weight: 700;
}

.logo{
  width: 300px;
  background-color:#119E5D;
  padding:10px;
  border-radius: 4px;
  margin-bottom:40px;
}

.logo img{
  width:100%;
}

.section{
  padding:80px 0;
}

.hero{
  padding:80px 0;
}

.section.dark{
  background-color:#119E5D;
  color: white;
}

.section.dark .header{
  border-color:white;
}

.membre-equipe img{
  margin-bottom:20px;
  filter: grayscale();
  -webkit-filter: grayscale();
}

.membre.row{
  margin-top:30px;
}
