/*
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
*/
body{
  font-family: 'Roboto', sans-serif;
  font-size:16px;
  color:#555;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}

img{
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

.header{
  border-top:4px solid #119E5D;
}

.header h1{
  font-weight: 700;
}

.logo{
  background-color: #119e5d;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2329c27c' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  max-width: 300px;
  padding:10px;
  border-radius: 4px;
  margin-bottom:40px;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);

}

.logo img{
  width:100%;
  box-shadow: none;
}

.section{
  padding:5em 0;
  z-index: 1;
  background: white;
}

@media(max-width: 767px){
  .section.section-hero{
    padding-top: 0;
  }
  .section{
    padding:2em;
  }
}

.hero{
  padding:80px 0;
}

.section.dark{
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  box-shadow: inset 0 0 30px rgba(0,0,0,0.05);

}

.section.dark.color{
  background-color: #119E5D;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23dddddd' fill-opacity='0.07'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color:white;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.05);

}

.section.dark.color a {
  color: white;
}

.section.dark.color .header{
  border-color:white;
}

.membre-equipe img, .sponsor img{
  margin-bottom:20px;
  width: 100%;
}

.membre.row, .sponsors.row{
  margin-top:30px;
}

.event-list{
  list-style: none;
  padding: 0;
}

.event-list img{
  background: black;
}

.event-info{
  font-size:1.1em;
}

.event-name{
  font-size:2em;
}

.event-list.past-events{
  font-size:1.3em;
}

.event-list a{
  font-weight: bold;
}

/*
a::after{
  content: ' →';
}
*/

a{
  text-decoration: underline dotted;
  color: #119E5D;
}

.topbar{
  padding:1em 0;
}

.topbar a{
  color: #aaaaaa;
}

.social-icons a img {
  display: inline-block;
  border: none;
  width: 3em;
  box-shadow: none;
  margin-right: 1.25em;
  margin-bottom: 1.25em;
  padding-bottom: 0;
}

input, textarea {
  display: block;
  color: black !important;
  border:1px solid white;
  border-radius: 4px;
  margin-bottom: 1em;
  padding:1em;
  font-size:1em;
  width: 100%;
  box-shadow: 0 0 30px rgba(0,0,0,0.05) !important;
  transition: 0.08s;
}

input:focus, textarea:focus {
  border:1px solid #119e5d;
}

.btn-jdis{
  background: #119e5d;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.08) !important;
}

.btn-jdis:hover{
  color: white;
  background: hsl(152.3, 69.2%, 40.9%);
}

.btn-jdis{
  color: white;
  background-color: #119E5D;
  border:3px solid white;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0,0,0,0.08) !important;
}

.btn-jdis:hover{
  background-color: #119E5D;
  border:3px solid white;
  color: white;
}